.card{
    width: 50px;
    height: 60px;
    margin: 0.2rem;
    padding: 0.2rem;
    background-color: #095228;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card_enemy{
    width: 50px;
    height: 60px;
    margin: 0.2rem;
    padding: 0.2rem;
    background-color: #8b0000;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

/* .card:hover{
    width: 90px;
    height: 110px;
} */

.name_card{
    font-size: 1rem;
    color: #fff;
    text-align: center;
    margin-top: 0.2rem;
}

.img_card{
    width: 20px;
    height: 20px;
}

.infos_card{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 10%;
    top:0;
    padding: 0.2rem;
    font-size:0.8rem;
    padding:5px;
    /* margin-left: 1.5rem;
    margin-right: 1.5rem; */
}

.pv_card{
    width:15px;
    text-align: center;
    background-color : greenyellow;
    border-radius: 20%;
}

.force_card{
    width:15px;
    text-align: center;
    background-color: orange;
    border-radius: 20%;
}

