.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9FC490;
    width: 100%;
    height: 18%;
}

.card {
    width: 100%;
    height: 100%;
    background-color: #EBC7E8;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}