.main {
    background-color: #C0DFA1;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

}


.monsterplay{
    color:'red';
    position: 'absolute';
    top: 50;
}

.button {
        
    height:35px;
    background-color: #465362;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    padding: 12px 20px 12px 20px;
    margin-bottom:0.5rem;
    font-size: 15px;
    cursor: pointer;
    border : none;
    border-radius: 15px;
}