
.container{
    background-color: #9FC490;
    display : flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu {
    display: flex;
    justify-content : space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.title_menu{
    margin-bottom: 5rem;
    font-size: 60px;
    color : #3a3280;
    text-align: center;
}

.link_menu{
    text-decoration: none;
    color: #3a3280;
    font-size: 30px;
    margin-bottom: 2rem;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.img_menu{
    width: 40%;
}

.button {
    width: 110px;
    background-color: #645CAA;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 12px 20px 12px 20px;
    font-size: 20px;
    cursor: pointer;
    border : none;
    border-radius: 5px;
    transition: 0.3s;
}

.button:hover{
    
    background-color: #A084CA;
}